button {
    border: none;
    background: none;
    padding: 0%;
    margin: 0%;
}

button {
    cursor: pointer;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: 5px 10px;

    transition: all 0.800s;
}

button:hover {
    background: blueviolet;
    color: white;
}