@import url("component/buttons.css");
@import url("component/cards.css");

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}